* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anton SC", sans-serif;
    ;
}

#calendar {
    width: 100%;
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendarContent {
    width: 100%;
    height: 100%;
    padding: 8px;
    max-width: 1920px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 8px;
}

.calendarDoor {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 32px;
    border: 1px dotted white;
    width: 18%;
    color: white;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 200ms ease-in-out;
    border-radius: 5px;
}

.calendarDoor:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.8);
}